.main-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-container>* {
    opacity: 1;
    pointer-events: auto;
}

.main-container.form-filter>*:not(.contact-modal) {
    opacity: 0.7;
    pointer-events: none;
}

.main-container.form-filter .contact-modal {
    opacity: 1;
    pointer-events: auto;
}

.main-container.slideshow-filter {
    overflow-y: hidden;
    position: fixed;
    width: calc(100% - 200px);
}

.main-container.slideshow-filter>*:not(.slideshow-modal) {
    opacity: 0;
    pointer-events: none;
}

.main-container.slideshow-filter .slideshow-modal {
    opacity: 1;
    pointer-events: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.photographer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-bg-color);
    height: 300px;
    margin: 0;
    padding: 0px 50px;
}

.photograph-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.photograph-name {
    color: var(--secondary-color);
    font-size: 64px;
    margin: 0;
    padding-left: 5px;
}

.photograph-location {
    color: var(--primary-color);
    font-size: 24px;
}

.photograph-tagline {
    color: var(--grey-3);
    font-size: 18px;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: var(--base-color);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.photograph-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.photograph-thumbnail img {
    height: 100%;
    width: auto;
    transform: scale(1.75);
    transform-origin: center 35%;
}



.portfolio-section {
    display: flex;
    flex-direction: column;
}

.dropdown-container {
    position: absolute;
    z-index: 1;
}

.dropdown {
    display: flex;
    position: relative;


}

.dropdown.open #sortingDropdown {
    display: none;
}


.dropdown:not(.open) .chevron {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }

  .dropdown.open .chevron {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }


.dropdown.open #listbox {
    display: flex;
}

.dropdown.open .chevron-up {
    display: block;
}

.dropdown .sortingDropdown-trigger {
    font-size: 18px;
    color: black;
    font-weight: 700;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 75px;
}

.dropdown #sortingDropdown {
    display: flex;
    align-items: center;
    height: 69px;
    width: 170px;
    padding-left: 21px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    appearance: none;
    background: #901C1C;
    border: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.dropdown #sortingDropdown:focus {
    outline: none;

}

.dropdown .chevron {
    display: block;
    position: absolute;
    top: 24px;
    right: 20px;
    width: 24px;
    height: 24px;
}

#listbox {
    display: none;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    padding: 0;
}


.sort-entry {
    background: #901C1C;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 70px;
    width: 170px;
    padding-left: 21px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popularity {
    border-radius: 5px;

}

#title {
    border-radius: 0 0 5px 5px;
    border-bottom: none;

}

.chevron-up {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 24px;
    height: 24px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px 95px;
    position: relative;
    margin-top: 100px;
    z-index: 0;
}

.card-container article {
    width: 350px;
    justify-self: center;
}

.card-container figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 10px;

}

.card-container img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.card-container video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.card-container figcaption {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-container h2 {
    color: var(--primary-color);
}

.card-container .card-likes {
    display: flex;
    gap: 4.625px;
    align-items: center;
}

.card-container .card-likes-number {
    color: var(--primary-color);
    font-size: 24px;
}

.card-container .card-likes-icons {
    position: relative;
    width: 24px;
    height: 24px;
}

.card-container .card-likes-icons>* {
    width: 24px;
    height: 24px;
}

.card-container .empty-heart-icon {
    display: block;
}

.card-container .heart-icon {
    position: absolute;
    fill: var(--primary-color);
    display: none;
}

.card-container .card-likes-icons.liked .empty-heart-icon {
    display: none;
}

.card-container .card-likes-icons.liked .heart-icon {
    display: block;
}




.info-bar-container {
    position: fixed;
    bottom: 0;
    right: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 376px;
    height: 73px;
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    z-index: 2;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 34px;
    font-size: 24px;
}

.info-bar .likes-container {
    display: flex;
    align-items: center;
    gap: 4.625px;
}


.info-bar .likes-icon {
    width: 24px;
    height: 24px;
}






.contact-modal {
    display: none;
}

.contact-modal.open {
    display: flex;
    width: 50%;
    position: absolute;
    margin: 62px 0;
    top: 0;
    left: 25%;
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

.contact-modal header {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0;
}

.contact-modal .modal-header {
    display: flex;
    flex-direction: column;
}


.contact-modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    color: black;
    display: flex;
    padding-left: 5px;
}

.contact-modal .close-button {
    fill: white;
    padding: 0;
}

.contact-modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.contact-modal form label {
    color: var(--grey-1);
    font-size: 36px;
}

.contact-modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.contact-modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.contact-modal form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}

.contact-modal input:required,
.contact-modal textarea:required {
    border: var(--primary-color) 1px solid;
}




.slideshow-modal {
    display: none;
    border: none;
    outline: none;
}

.slideshow-modal.isopening {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    align-self: center;
    height: 100vh;
    width: 100%;
    max-width: 1240px;
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: var(--base-color);
    overflow: hidden;
}

/* Generic class */
.icon-control {
    display: flex;
    width: 72px;
    height: 72px;
    border: none;
    background: none;
}

.slideshow-modal svg {
    width: 100%;
    height: 100%;
    fill: var(--primary-color);
}

.slideshow-modal #close-control {
    position: absolute;
    top: 62px;
    right: 0px;
}

.slideshow-modal figure {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    /** 100% - size of the two icons - left and right gap */
    width: calc(100% - 72px - 72px - 12px - 12px);

}


.slideshow-modal figure>*:not(figcaption) {
    height: calc(100% - 62px - 62px);
    object-fit: cover;
    width: 1050px;
    margin: 62px 0;
    align-self: center;

}

.slideshow-modal figcaption {
    position: absolute;
    bottom: -12px;
    display: flex;
    color: var(--primary-color);
    font-size: 24px;
}