@import url("photographer.css");

:root {
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
    --base-color: #FFF;
    --base-bg-color: #FAFAFA;
    --secondary-bg-color: #DB8876;
    --grey-1: #312E2E;
    --grey-2: #525252;
    --grey-3: #757575;
    --grey-4: #C4C4C4;


}

* {
    font-weight: 400;
    font-family: "DM Sans", sans-serif;

}

body {
    margin: 0 100px 120px 100px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-top: 20px;
}

.photographers {
    color: var(--primary-color);
    font-size: 36px;  
}

h2,
p {
    margin: 0;

}

.logo {
    height: 50px;
}

.photographers-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px 320px;
    margin-top: 100px;
}

.photographers-section article {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.photographers-section article .card-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 20px;
    text-decoration: none;
}

.photographers-section article .thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.photographers-section article img {
    height: 100%;
    width: auto;
    transform: scale(1.75);
    transform-origin: center 35%;
}

.photographers-section article h2 {
    width: max-content;
    color: var(--secondary-color);
    font-size: 36px;
}

.photographers-section article .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.photographers-section article .location {
    color: var(--primary-color);
    font-size: 13px;
}

.photographers-section article .tagline {
    font-size: 10px;
}

.photographers-section article .price {
    color: var(--grey-3);
    font-size: 9px;
}